.Header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #14274e;
    backdrop-filter: blur(5px);
    position: fixed;
    right: 0;
    left: 0;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: -25px;
    top: 0px;
}

.Header-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    border: none;
    background: none;
    color: #394867;
    font-size: 25px;
    font-weight: bold;
    outline: none;
}
.Header-title:hover {
    cursor: pointer;
    color: #14274e;
}

.Navigation-buttons {
    background: #f1f6f9;
    border: none;
    margin-left: 5px;
    color: #394867;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    opacity: 0.95;
    transition: opacity 0.5s;
}

.Navigation-buttons:hover {
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.5s;
    color: #14274e;
}

img {
    display: block;
    max-width: 150px;
    max-height: 380px;
    width: auto;
    height: auto;
}

ul li {
    list-style: none;
    display: inline;
    margin: 0px 12px 0px 0px;
}
