.theme-dark {
    --background-primary: #000000;
    --background-secondary: #121212;
    --border-color: #bb86fc;
}

.theme-light {
    --background-primary: ;
}
/* Background - #F1F6F9
Secondary Background - #9BA4B4
Hover Highlight & borders - #14274E
Extra not sure yet - #394867 */
